Options +FollowSymlinks -multiViews -Indexes
ErrorDocument 404 /not-found
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/ico "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType text/html "access plus 2 hours"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 6 hours"
</IfModule>
Header set X-Endurance-Cache-Level "2"
<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"
RewriteBase /
RewriteRule ^ver/([0-9]+)/([^/]+)$ /login.php?verify=S&idUser=$1&codValida=$2 [L]
RewriteRule ^res/en/([0-9]+)/([^/]+)$ /login-reset.php?idioma=en&idUser=$1&codValida=$2 [L]
RewriteRule ^res/([0-9]+)/([^/]+)$ /login-reset.php?idUser=$1&codValida=$2 [L]
RewriteRule ^gruok/([0-9]+)/([0-9]+)/([^/]+)$ /invitacion.php?invitacion=ok&idUser=$1&idGrupo=$2&verifyCode=$3 [L]
RewriteRule ^gruko/([0-9]+)/([0-9]+)/([^/]+)$ /invitacion.php?invitacion=ko&idUser=$1&idGrupo=$2&verifyCode=$3 [L]
RewriteRule ^sign-up/en$ /sign-up.php?idioma=en [L]
RewriteRule ^sign-up$ /sign-up.php [L]
RewriteRule ^login$ /login.php [L]
RewriteRule ^login/en$ /login.php?idioma=en [L]
RewriteRule ^about-us$ /about-us.php [L]
RewriteRule ^sign-out$ /sign-out.php [L]
RewriteRule ^login-reminder/en$ /login-reminder.php?idioma=en [L]
RewriteRule ^login-reminder$ /login-reminder.php [L]
RewriteRule ^not-found$ /not-found.php [L]
RewriteRule ^my-profile$ /my-profile.php [L]
RewriteRule ^sign-ajax$ /sign-ajax.php [L]
RewriteRule ^mis-grupos$ /mis-grupos.php [L]
RewriteRule ^mis-grupos-miembros$ /mis-grupos-miembros.php [L]
RewriteRule ^mis-grupos-estadisticas$ /mis-grupos-estadisticas.php [L]
RewriteRule ^nuevo-miembro$ /nuevo-miembro.php [L]
RewriteRule ^nuevo-grupo$ /nuevo-grupo.php [L]
RewriteRule ^mis-pesos$ /mis-pesos.php [L]
RewriteRule ^nuevo-peso$ /nuevo-peso.php [L]
RewriteRule ^index$ /index.php [L]
RewriteRule ^en$ /index.php?idioma=en [L]
RewriteRule ^cron-task/en$ /cron-task.php?idioma=en [L]
RewriteRule ^cron-task$ /cron-task.php [L]
</IfModule>

